extends ../layout.pug

block contenido
  a.btn.btn-primary(href="/user/agregar") Nuevo usuario
  table.table.table-striped
    thead
      tr
        th Nombre
        th Edad
        th Sexo
        th Fecha de Nacimiento
        th Acciones
    tbody
      each user in users
        tr
          td= user.nombre
          td= user.edad
          td= user.sexo == 0 ? 'Hombre' : 'Mujer'
          td= user.fechaNacimiento
          td
            a(href='/user/' + user._id).btn.btn-primary Detalles
            a(href='/user/edit/' + user._id).btn.btn-default Editar
